@{
    ViewData["Title"] = "InfoAlbum";
}

<div>
    <h1>@ViewBag.album.nombre</h1>
    <h3>@ViewBag.album.artista</h3>
    <img scr= "/imagenes/@ViewBag.album.foto" alt="Portada del album"/>
    <h3>@ViewBag.album.productor</h3>
    <h3>@ViewBag.album.genero</h3>
    @{foreach(Cancion cancion in ViewBag.listaTemas){
        <h3> cancion.nombre </h3>
        <h4> cancion.duracion </h4>
    }}
    <h3>@ViewBag.album.id</h3>
</div>
